In [1]:
import os
import csv
import pandas as pd

In [2]:
#Create the path
path_df = pd.read_csv('budget_data.csv')
path_df

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [3]:
#provide total number of months in DF

total_months = len(path_df.Date)
print('Financial Analysis')
print('----------------------------')
print(f'Total Months: {total_months}')

Financial Analysis
----------------------------
Total Months: 86

In [4]:
#create an empty list to store the monthly changes
month = []
profit_loss = []
monthly_diff = []

In [5]:
# create a new value with monthly changes using loc
for i in range(0,total_months): 
    if i - 1 >= 0:
        monthly_diff.append(path_df.loc[i,'Profit/Losses'] - path_df.loc[i-1,'Profit/Losses'])
    else:
        monthly_diff.append(0)

In [6]:
# add the monthly difference field to the dataframe
path_df['MoM Change'] = monthly_diff
path_df

      Date  Profit/Losses  MoM Change
0   Jan-10         867884           0
1   Feb-10         984655      116771
2   Mar-10         322013     -662642
3   Apr-10         -69417     -391430
4   May-10         310503      379920
..     ...            ...         ...
81  Oct-16         102685     -665765
82  Nov-16         795914      693229
83  Dec-16          60988     -734926
84  Jan-17         138230       77242
85  Feb-17         671099      532869

[86 rows x 3 columns]

In [7]:
# calculate the net total amount of "Profit/Losses" over the entire period
net_total = path_df['Profit/Losses'].sum()
print(f"Total: {net_total}")

Total: 38382578

In [9]:
path_df.describe()

       Profit/Losses    MoM Change
count   8.600000e+01  8.600000e+01
mean    4.463090e+05 -2.288198e+03
std     5.363579e+05  7.589331e+05
min    -1.196225e+06 -2.196167e+06
25%     1.821620e+05 -3.619832e+05
50%     5.703280e+05  3.862100e+04
75%     7.952262e+05  3.937192e+05
max     1.170593e+06  1.926159e+06

In [8]:
# calculate the average of the changes in "Profit/Losses" over the entire period
avg_chg = path_df['MoM Change'].mean()
rounded_average = round(avg_chg,2)
print (f'Average Change: ${rounded_average}0')

Average Change: $-2288.20

In [11]:
#max profit
max_profit = path_df['MoM Change'].max()
max_profit

1926159

In [15]:
#max loss
max_loss = path_df['MoM Change'].min()
max_loss

-2196167

In [14]:
for i in range(0,total_months):
    if path_df.loc[i,'MoM Change'] == max_profit:
        month = path_df.loc[i,'Date']
        print(f'Greatest increase in profits: {month} (${max_profit})')
    elif path_df.loc[i,'MoM Change'] == max_loss:
        month = path_df.loc[i,'Date']
        print(f'Greatest decrease in profits: {month} (${max_loss})')
path_df

Greatest increase in profits: Feb-12 ($1926159)

      Date  Profit/Losses  MoM Change
0   Jan-10         867884           0
1   Feb-10         984655      116771
2   Mar-10         322013     -662642
3   Apr-10         -69417     -391430
4   May-10         310503      379920
..     ...            ...         ...
81  Oct-16         102685     -665765
82  Nov-16         795914      693229
83  Dec-16          60988     -734926
84  Jan-17         138230       77242
85  Feb-17         671099      532869

[86 rows x 3 columns]

In [29]:
# Output Summary
print("Financial Analysis")
print("_______________________________")
print(f"Total Months: {total_months}")
print(f"Total: {net_total}")
print(f"Average  Change: ${rounded_average:.2f}")
print(f"Greatest Increase in Profits: {month} (${max_profit})")
print(f"Greatest Decrease in Profits: {month} (${max_loss})")

Financial Analysis
_______________________________
Total Months: 86
Total: 38382578
Average  Change: $-2288.20
Greatest Increase in Profits: Feb-12 ($1926159)
Greatest Decrease in Profits: Feb-12 ($-2196167)

In [50]:
#create file to export

output = (
    f"Financial Analysis   \n"
    f"_______________________________   \n" 
    f"Total Months: {total_months}   \n"
    f"Total: {net_total}\n"
    f"Average  Change: ${rounded_average:.2f}   \n"
    f"Greatest Increase in Profits: {month} (${max_profit})   \n"
    f"Greatest Decrease in Profits: {month} (${max_loss})   \n"
    )
print(output)

Financial Analysis
_______________________________
Total Months: 86
Total: 38382578
Average  Change: $-2288.20
Greatest Increase in Profits: Feb-12 ($1926159)
Greatest Decrease in Profits: Feb-12 ($-2196167)

In [51]:
#export summary
file_to_output = os.path.join("budget_analysis.txt")
with open(file_to_output, "w") as txt_file:
    txt_file.write(output)